h5 {
  color: #fff !important;
  font-family: Oswald !important;
  font-size: 32px !important;
  font-style: normal !important;
  line-height: normal !important;
}

.output {
  width: 100%;
}
.song-modal {
  margin: 0 50%;
}

.modal-content {
  position: absolute;
  height: 70vh;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
}

.modal-image {
  height: 20%;
  border-radius: 16px;
}
.modal-text {
  width: 90%;
  color: white;
}

.modal-favourites-button {
  margin: 3vh 0 0 0 !important;
}

.modal-audio {
  margin: 3vh 0 0 0 !important;
}
.custom-card {
  /* background-color: #353535 !important; */
  font-family: Oswald !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  color: white !important;
}
.learn-more-button {
  background-color: #eb0573;
  padding: 0em 48px;
  margin: 4.5em 1.75em;
  position: absolute;
}
.modal-modal-description {
  display: flex;
  flex-direction: row;
  color: #9a9a9a;
}
.modal-album-title {
  color: #9a9a9a;
}
.album-info {
  right: 0;
  position: fixed;
  margin-right: 5em;
}
.divider {
  display: flex;
  border-bottom: 1px solid #9a9a9a;
  margin: 5px 0;
}
.title_favourite,
.card-content {
  display: flex;
  flex-direction: row;
  .title_favourite {
    flex: 1 0 0;
  }
}

.css-h93ljk-MuiTypography-root {
  font-family: Oswald !important;
  font-weight: 700 !important;
  font-size: 32px !important;
  color: white !important;
}
.css-e784if-MuiTypography-root {
  color: #fff !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  opacity: 0.5 !important;
}
